e2edatapipeline.aux
e2edatapipeline.bbl
e2edatapipeline.fdb_latexmk
e2edatapipeline.fls
e2edatapipeline.log
e2edatapipeline.blg
e2edatapipeline.toc
e2edatapipeline.pdf
e2edatapipeline.out
e2edatapipeline.synctex.gz